    <div class="footer-basic">
      <footer>
        <div class="social">
          <a href="https://www.linkedin.com/in/mats-faugli-2955776/"><i class="icon ion-social-linkedin"></i></a>
          <a href="https://twitter.com/matsfaugli"><i class="icon ion-social-twitter"></i></a>
          <a href="https://www.facebook.com/mats.faugli"><i class="icon ion-social-facebook"></i></a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://fowlie.github.io">Blog</a></li>
          <li class="list-inline-item"><a href="music">Music</a></li>
          <li class="list-inline-item"><a href="aboutme">About me</a></li>
          <li class="list-inline-item"><a href="https://github.com/fowlie/fowlie.github.io">Source</a></li>
        </ul>
        <p class="copyright">Mats Faugli© 2017</p>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      var disqus_shortname = 'fowlie';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  </body>
</html>