<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MGHSQF7');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGHSQF7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!-- End Google Tag Manager (noscript) -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67513271-1', 'auto');
      ga('send', 'pageview');
    </script>

    <div>
      <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container">
          <a class="navbar-brand" href="/">{{ site.name }}</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
              {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
              <li {% if location == '' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link active" href="/">Blog</a></li>
              <li{% if location == 'music' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link" href="/music">Music</a></li>
              <li{% if location == 'aboutme' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link" href="/aboutme">About me</a></li>
            </ul>
            <span class="navbar-text">
              <a href="https://github.com/fowlie/fowlie.github.io"><img src="/images/GitHub-Mark-32px.png" width="16" height="16">Source</a>
            </span>
            </div>
        </div>
      </nav>
    </div>

    <header style="background-image:url(&quot;assets/img/background.jpg&quot;);">
      <div class="container" id="welcome">
        <h1>Fowlie's blog</h1>
        <p>A place for web technology, unix and music.</p>
      </div>
    </header>
